.search-title {
  margin-bottom: 20px;
  font-size: 1.7em;
}

@media (min-width: 768px) {
  .search-title {
    font-size: 2em;
  }
}

.search-form {
  padding: 0 5%;
  margin-top: 20vh;
}

.search-box {
  padding: 10px 0 10px 10px;
  display: grid;
  grid-template: auto / auto 50px 50px;
  align-items: center;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%), 0px 6px 6px 0px rgb(255 255 255 / 20%);
}

.search-box--with-suggestions:focus-within, .suggest-list:active ~ .search-box--with-suggestions {
  border-bottom: 0;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.App:not(.bg-start) header .search-box {
  border: 0;
  background: rgb(255 255 255 / 50%);
}

.search-input {
  border: 0;
  width: 125px;
}

@media (min-width: 375px) {
  .search-input {
    width: auto;
  }
}

.current-location-btn {
  border-right: 1px solid #ccc;
}

.suggest-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 0;
  position: absolute;
  z-index: 999;
  width: calc(90% - 27px);
  opacity: 0;
  color: #444;
  transition: all 0.3s;
}

.suggest-list--active {
  border-top: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #fff;
}

.App-header .suggest-list {
  width: calc(100% - 85px);
}

@media (min-width: 375px) {
  .App-header .suggest-list {
    width: calc(100% - 100px);
  }
}

.search-box:focus-within + .suggest-list, .suggest-list:active {
  height: auto;
  max-height: 300px;
  overflow-y: auto;
  opacity: 1;
}

.suggest-list__item {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  display: block;
}

.suggest-list__item:hover {
  background: #f1f1f1;
}

.suggest-list__item--active {
  background: #e0e0e0;
}