.scroll-container {
  width: 100%;
  overflow: auto;
}

/* Weather Summary section */
.weather-summary {
  text-align: center;
  margin-top: 11vh;
  transition: all 0.3s;
}

@media (min-height: 700px) {
  .weather-summary.show-more {
    margin-top: 10px;
  }
}

@media(min-width: 1024px) {
  .weather-summary {
    margin-top: 15vh;
  }
}

.weather-summary .temp-range {
  display: inline-block;
}

.weather-summary .current-temp {
  font-size: 5em;
  font-weight: 300;
  display: inline-block;
  min-width: 50%;
  margin: 10px 20px;
}

@media (min-width: 375px) {
  .weather-summary .current-temp {
    font-size: 6em;
  }
}

.weather-summary .weather-icon {
  margin-left: 10px;
  width: 50px;
  vertical-align: middle;
}

/* Weather Details section */
.weather-details {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "current"
    "hourly"
    "daily";
    align-items: start;
  width: 100vw;
  color: #444;
  position: relative;
  z-index: 3;
  margin-top: 25vh;
  margin-left: -15px;
  padding-bottom: 20px;
  background-image: linear-gradient(rgb(255 255 255 / 88%), #ffffff);
  transition: all 0.3s;
}

.weather-details.show-all {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}

@media (min-height: 700px) {
  .weather-details.show-more {
    position: absolute;
    bottom: 0;
    padding-bottom: 100px;
  }
}

@media(min-width: 768px) {
  .weather-details {
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "current current"
    "hourly daily";
  }
}

@media(min-width: 1400px) {
  .weather-details {
    margin-top: 32vh;
  }
}

.show-more-btn {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -15px;
  left: calc(50% - 5px);
  border: solid 2px #aaa;
  border-bottom: 0;
  border-right: 0;
  transform: rotate(45deg);
  cursor: pointer;
  transition: all 0.3s;
}

.show-more-btn:hover, .show-more-btn:focus {
  border-color: #666;
}

.show-more-btn.show-more {
  transform: rotate(225deg);
}

@media (max-height: 700px) {
  .show-more-btn {
    display: none;
  }
}

@media(min-width: 768px) {
  .show-more-btn {
    top: -40px;
  }
}

@media(min-width: 1024px) {
  .show-more-btn {
    top: -50px;
  }
}

.section_label {
  font-weight: 500;
}

/* Wavy borders */
.wavy-border-container {
  position: absolute;
  width: 100%;
  padding-bottom: 25%;
  vertical-align: middle;
  overflow: hidden;
  top: 0;
  left: 0;
  margin-top: -25%;
}

svg.wavy-border {
  position: absolute;
  top: 0;
  left: 0;
}

/* Current weather stats section */
.weather-current {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  grid-area: current;
  padding: 10px 20px;
}

.weather-current .weather-stat {
  min-width: 140px;
  margin: 10px 0;
}

@media(min-width: 768px) {
  .weather-current .weather-stat {
    min-width: 200px;
  }
}

.weather-screen .save-location-btn {
  position: absolute;
  right: 30px;
  top: -30px;
  color: #444;
}

@media(min-width: 768px) {
  .weather-screen .save-location-btn {
    top: -55px;
  }
}

@media(min-width: 1024px) {
  .weather-screen .save-location-btn {
    top: -65px;
  }
}

/* Hourly Forecast section */
.hourly-forecast {
  grid-area: hourly;
  padding: 10px 20px;
}

/* Daily Forecast section */
.daily-forecast {
  grid-area: daily;
  padding: 10px 20px;
  position: relative;
}

.daily-forecast:before, .daily-forecast:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  top: calc(50% + 20px);
  left: 20px;
  border: solid 2px #ddd;
  border-bottom: 0;
  border-right: 0;
  transform: rotate( -45deg);
  cursor: pointer;
}

.daily-forecast:after {
  left: auto;
  right: 20px;
  transform: rotate( 135deg);
}

.daily-forecast__list {
  padding: 0;
  margin: 0;
  width: max-content;
}

.daily-forecast__item {
  list-style: none;
  display: inline-block;
  width: 60px;
  text-align: center;
  margin: 0 10px;
}

.daily-forecast__icon {
  width: 100%;
}