/* Common rules */
*, *::before, *::after {
  box-sizing: border-box;
}

input, select, button {
  -webkit-appearance: none;
  font-size: 1em;
  outline: 0;
  vertical-align: middle;
  padding: 5px 10px;
  background: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

h1 {
  font-size: 2em;
  margin: 0;
}

small {
  opacity: 0.7;
}

/* Layout element, Common elements */
.App {
  padding: 15px 15px 0;
  font-family: 'Montserrat', sans-serif;
  color: #444;
  font-size: 14px;
  min-height: 100vh;
  display: grid;
  grid-template: 50px auto / auto;
  align-items: start;
  overflow: hidden;
  position: relative;
}

.icon-btn {
  border: 0;
  padding: 0;
  background: none;
  outline: 0;
  vertical-align: middle;
  color: #999;
  cursor: pointer;
}

.bg-dawn .icon-btn, .bg-sunset .icon-btn, .bg-dusk .icon-btn, 
.bg-night .icon-btn, .bg-rain .icon-btn, .bg-storm .icon-btn {
  color: #fff;
}

.icon-btn[disabled] {
  color: #ccc;
}

.search-screen {
  align-self: self-start;
}

/* Widget List */
.widgets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hidden {
  display: none;
  visibility: hidden;
}

.text-center {
  text-align: center;
}

/* Background */
.bg-start:before {
  content: '';
  position: absolute;
  top: -130px;
  left: -130px;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: #ffdfa5;
  border: solid 90px #fbe4bc;
  z-index: -1;
  box-shadow: 0 0 20px 3px #fbe4bc;
}

.bg-start:after {
  content: '';
  position: absolute;
  top: -230px;
  left: -230px;
  width: 530px;
  height: 530px;
  border-radius: 50%;
  background: rgb(236 223 199);
  z-index: -2;
  box-shadow: 0 0 20px 3px rgb(236 223 199);
}

.bg-start__top {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: 0;
  background: linear-gradient(35deg, #f3f6f7, #73afec);
  transform: skewY(-35deg);
  z-index: -2;
  display: none;
}

.bg-start__bottom {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background: linear-gradient(35deg, #646984, #080719);
  z-index: -3;
  display: none;
}

.bg-start__bottom:before {
  content: '';
  position: absolute;
  bottom: -150px;
  right: -120px;
  width: 300px;
  height: 300px;
  background: #efefef;
  border-radius: 50%;
  box-shadow: 0 0 20px 3px #e6e6e6;
}

.bg-start .bg-start__top, .bg-start .bg-start__bottom {
  display: block;
}

#starfield {
  min-width: 100%;
  min-height: 100%;
}

.bg-dawn {
  background-image: linear-gradient(rgb(97, 69, 128) 0%, rgb(201, 126, 123) 50%, rgb(255, 184, 155) 100%);
  color: #fff;
}

.bg-sunrise {
  background-image: linear-gradient(rgb(147, 179, 233) 0%, rgb(255, 221, 170) 50%, rgb(255, 246, 205)80%);
  color: #444;
}

.bg-morning {
  background-image: linear-gradient(rgb(198 230 249) 0%, rgb(243 249 249) 100%);
  color: #444;
}

.bg-afternoon {
  background-image: linear-gradient(rgb(133 193 234) 0%, rgb(240 248 251) 100%);
  color: #444;
}

.bg-sunset {
  background-image: linear-gradient(rgb(119, 88, 143) 0%, rgb(223, 122, 86) 50%, rgb(250, 214, 143) 100%);
  color: #fff;
}

.bg-dusk {
  background-image: linear-gradient(rgb(74, 80, 133) 0%, rgb(173, 107, 110) 70%, rgb(226, 157, 108) 100%);
  color: #fff;
}

.bg-night {
  background-image: linear-gradient(rgb(23, 31, 49) 0%, rgb(63, 92, 131) 100%);
  color: #fff;
}

.bg-storm {
  background-image: linear-gradient(rgba(84,100,121,1) 0%, rgba(184,194,207,1) 100%);
  color: #fff;
}

.bg-rain:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(0 0 0 / 20%);
  z-index: 0;
  height: 100%;
}

/* Rain effect */
.rain {
  position: absolute;
  left: 0;
  width: 90%;
  height: 80%;
  z-index: 2;
}

.rain.back-row {
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
}

.screen.back-row-toggle .rain.back-row {
  display: block;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
  }
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

.screen.splat-toggle .splat {
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.screen.single-toggle .drop {
  display: none;
}

.screen.single-toggle .drop:nth-child(10) {
  display: block;
}

/* Snow effect */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}

.snowflake--big {
  width: 10px;
  height: 10px;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(3n) {
  filter: blur(2px);
}